.cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 1100px;
}



.Cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 8rem;
}